/** Base Styles **/

* {
    padding: 0;
    margin: 0 auto;
}

body {
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: hsl(218, 28%, 13%);
}

body a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

body a:visited {
    color: hsl(0, 0%, 100%);
}

a.special-link {
    color: hsl(176, 68%, 64%);
}

button {
    color: hsl(0, 0%, 100%);;
    background: hsl(176, 68%, 64%);
    padding: 2.5rem;
    border-radius: 20px;
}

/* set all sections to flex */
#hero, #features, #stay-productive, #testimonials {
    display: flex;
    padding: 1rem;
}

/* Header */
header {
    background: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    font-family: 'Raleway', sans-serif;
    max-width: 70%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

nav ul li {
    list-style-type: none;
    padding: .75rem;
}

/* Hero */
#hero {
    background: hsl(217, 28%, 15%) url("img/bg-curvy-mobile.svg") no-repeat scroll bottom;
    background-size: 100% 70%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 80%;
}

/* Features */

#features {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#features img {
    width: 20%;
}

div.features {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

/* Stay Productive */
#stay-productive {
    flex-flow: column wrap;
}

.stay-productive-img {
    width: 80%;
}

/* .special-link-img {
    width:10%;
} */

/* Testimonials */
#testimonials {
    flex-flow: column wrap;
}
.testimonial {
    background: hsl(219, 30%, 18%);
}

/* Subscribe */
#subscribe {
    background: hsl(217, 28%, 15%);

}

/* Footer */

footer {
    background: hsl(216, 53%, 9%);
}